@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Roboto:wght@300;400;500;700&display=swap');


body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: 120px 1fr;
  grid-template-areas: "header header" "sidebar mainSection";
  height: 100vh;
  background-color: #a5dafa;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a5dafa;
}

.mainSection {
  grid-area: mainSection;
  background-color: #FFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3rem 3rem 0 5rem;
  margin-right: 3rem;
}
.sidebar {
  grid-area: sidebar;
  padding: 0 ;
  background-color: #FFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.logoBox{
  height: 120px;
  width: 170px;
  background-color: #FFF;
}
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 120px solid #FFF;
  border-right: 120px solid transparent;
  margin-left: 0;
  margin-right: auto;
}

.companyName{
  padding: 10px 10px;
  background-color: #FFF;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.companyInfo{
  display: flex;
  gap: .5rem;
  margin-right: 3rem;
}

